<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentIntelligentSystem">

        <!-- Launcher Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Admin Role Activities -->
        <activity android:name=".AdminRegisterActivity" android:exported="false" />
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".TeacherRegisterActivity" android:exported="false" />
        <activity android:name=".ParentRegisterActivity" android:exported="false" />
        <activity android:name=".ViewTeachersActivity" android:exported="false" />

        <!-- Teacher Role Activities -->
        <activity android:name=".TeacherDashboardActivity" android:exported="false" />
        <activity android:name=".StudentRegisterActivity" android:exported="false" />
        <activity android:name=".MarkAttendanceActivity" android:exported="false" />
        <activity android:name=".AddResultsActivity" android:exported="false" />
        <activity android:name=".ManageSubjectsActivity" android:exported="false" />
        <activity android:name=".ManageAnnouncementsActivity" android:exported="false" />
        <activity android:name=".ViewParentsActivity" android:exported="false" />
        <activity android:name=".ViewEditResultsActivity" android:exported="false"/>

        <!-- Parent Role Activities -->
        <activity android:name=".ParentDashboardActivity" android:exported="false" />
        <activity android:name=".ViewResultsActivity" android:exported="false" />
        <activity android:name=".PerformanceAnalysisActivity" android:exported="false" />

        <!-- Shared & New Activities -->
        <activity android:name=".PostAnnouncementActivity" android:exported="false" />
        <activity android:name=".AttendanceHistoryActivity" android:exported="false" />
        <activity android:name=".ViewAttendanceActivity" android:exported="false" />
        <activity android:name=".DailyAttendanceDetailActivity" android:exported="false" />

    </application>

</manifest>